


<script type="text/javascript" charset="utf-8">
  $(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart' },
    title: { text: 'DRILLYNG CYCLE TIME' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: ''}
    },
    series: [{
    	name: "Data1",    	
      data: [
                [Date.UTC(2014, 0, 1), 22.0],
                [Date.UTC(2014, 1, 2), 35.0],
                [Date.UTC(2014, 2, 3), 55.7],
                [Date.UTC(2014, 3, 6), 63.20],
                [Date.UTC(2014, 4, 7), 75.90],
                [Date.UTC(2014, 5, 8), 79.98]
             ]
    },
    {
      name: "Data2",	      
      data: [
                [Date.UTC(2014, 0, 1), 19.9],
                [Date.UTC(2014, 1, 2), 81.5],
                [Date.UTC(2014, 2, 3), 46.4],
                [Date.UTC(2014, 3, 6), 80.0],
                [Date.UTC(2014, 4, 7), 71.0],
                [Date.UTC(2014, 5, 8), 50.0]
             ]
    }
    ]
  });
});
</script>

<div class="chart2" id="orders_chart"></div>

<div class="chart2" id="answer_time_chart"></div>
<script type="text/javascript">
$(document).ready(function() {
    var options = {
        chart: {
            renderTo: 'answer_time_chart',
            type: 'spline'
        },
        title: { text: 'COMPLETION CYCLE TIME' },
        xAxis: {               
                labels : {
                  formatter: function() {
                    var date = Date.UTC(2014, 0, 1);
                      return date;
                  }
                }

        },
        yAxis: {
                title: { text: ''},
                labels : {
                  formatter: function() {
                      return this.value;
                  }
                }
              },
        series: [{}]
    };        
    var jsonURL ='<%= @jsonURL %>'; 
    $.getJSON(jsonURL, function(data) {
        options.series[0].data = data;        
        var chart = new Highcharts.Chart(options);      
    });

});
</script>

<div class="chart3" id="answer_time_chart1"></div>
<script type="text/javascript">
$(document).ready(function() {
    var options = {
        chart: {
            renderTo: 'answer_time_chart1',
            type: 'spline'
        },
        title: { text: 'DRILLING FT' },
        yAxis: {
                title: { text: ''}
              },
        series: [{}]
    };        
    var jsonURL ='<%= @jsonURL %>'; 
    $.getJSON(jsonURL, function(data) {
        options.series[0].data = data;        
        var chart = new Highcharts.Chart(options);      
    });

});
</script>





